.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 40%;
}

label {
    margin-right: 1rem;
    font-weight: bold;

}

input {
    font-weight: bold;
    padding: .3rem;
}

.button-group {
    text-align: center;
    margin: 1rem;
}

.button-submit {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: .6rem;
    border-radius: 20%;
    width: 6rem;
}

.button-reset {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: .6rem;
    border-radius: 20%;
    width: 6rem;;
}